<div name="zip_input_form">
  <form #form="zipForm" (ngSubmit)="onSubmit()">
    <label for="zipcode_field">ZIP Code:</label>
    <input name="zipcode" id="zipcode_field"
           [(ngModel)]="model.zipcode"
           placeholder="Enter a ZIP code" />
    <!--
    TODO: Why doesn't this form-text tag work?
    <form-text
      name="zipcode"
      id="zipcode_field"
      label="ZIP Code:"
      placeholder="Enter a ZIP Code"
      [(ngModel)]="model.zipcode"
      >
    </form-text>
    -->
    <br/>
    Remove Me: zipcode {{model.zipcode}} isValid= {{isValidZip()}}

    <br/>
    <button type="submit" >Submit</button>
  </form>
</div>
<div name="errors" *ngIf="!isValidZip()">
  <p>{{zipcode}} is an invalid ZIP Code
</div>
